.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.5); /* Полупрозрачный фон */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.popup {
    background-color: #00bfff; /* Синий фон, как на макете */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2); /* Тень для объема */
    position: relative;
    width: 80%; /* Меньше, чем ширина страницы */
    max-width: 300px; /* Максимальная ширина */
  }
  
.popup-close {
    position: absolute;
    color: black;
    top: 5px;
    right: 10px;
    cursor: pointer;
    font-size: 25px;
  }
  
.popup-content {
    text-align: center;
    color: rgb(255, 255, 255); /* Черный текст */
    font-size: 18px;
    margin-bottom: 30px; /* Добавлен отступ снизу для текста */
  }
  
.popup-ok {
    display: block; /* Занимает весь доступный блок */
    width: 40%; /* Ширина кнопки */
    margin: 0 auto; /* Выравнивание по центру */
    padding: 10px 20px;
    background-color: #00cc99; /* фон кнопки */
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px; /* Размер шрифта текста кнопки */
}
