body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
  }
  .container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  .form-container, .messages-container {
    background-color: #0099ff;
    padding: 20px;
    border-radius: 8px;
    color: white;
  }
  textarea {
    width: 95%;
    height: 100px;
    padding: 10px;
    margin-top: 10px;
    border-radius: 8px;
    border: 1px solid #ddd;
    resize: none;
  }
  button {
    padding: 10px 20px;
    background-color: #00cc99;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 10px;
  }
  .messages-section {
    margin-bottom: 20px;
  }
  .messages-list {
    color: #00cc99;
    background-color: white;
    border-radius: 8px;
    padding: 10px;
    min-height: 50px;
  }

  .message-icon {
    margin-right: 10px;
    color: #0099ff; /* Вы можете изменить цвет иконки на желаемый */
  }
  .message {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 5px;
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }
  .no-messages {
    color: #888888;
    padding-top: 8px;
    padding-left: 10px; /* или любое другое значение, которое подходит под ваш дизайн */
  }
  
  